/* Global styling */
body {
  margin: 0;
  padding: 0;
  color: #111;
  background: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

body .source-serif-4-<uniquifier> {
  font-family: "Source Serif 4", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Header container injected by JS */
header {
  width: 100%;
  border-bottom: 1px solid black;
  padding: 20px 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: auto;
}

nav .logo {
  font-size: 32px;
  font-weight: bold;
}

nav ul {
  display: flex;
  gap: 40px;
  list-style: none;
  font-size: 20px;
}

nav ul li:hover {
  opacity: 0.6;
}

/* Main layout */
.container {
  display: flex;
  max-width: 1100px;
  margin: 40px auto;
  gap: 40px;
  align-items: center;
}

.image-wrapper img {
  width: 600px;
  height: auto;
  object-fit: cover;
  border: 1px solid #ddd;
}

.title-block {
  flex: 1;
}

.title-block h1 {
  font-size: 36px;
  line-height: 1.3;
  margin: 0;
}

.date {
  margin-top: 20px;
  color: #777;
  font-size: 18px;
}

/* Body text */
.content {
  max-width: 900px;
  margin: 40px auto;
  font-size: 20px;
  line-height: 1.6;
  text-align:left;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: auto;
  object-fit: cover;
  border: 1px solid #ddd;
}

.img_description {
  text-align: center;
  color: #777;
  font-size: 18px;
}