
body {
  background-color: gray;
  background-image: url(file:img/stars.gif);
  background-position: center;
  min-height: 100vh;
  color: white;
  text-align: center;
  text-shadow: 1px 1px 2px black, 0 0 50px blue, 0 0 10px red;
}

h1{
    font: 50px fantasy;
}

p{
    font: 35px papyrus, fantasy;
    padding: 70px 0px 0px;
}

footer{
    font: 15px arial, sans-serif;
    padding: 20px;
}

.borzoi-img {
  width: 580px;
  height: 580px;
  object-fit: cover;
}

/* LOGO */
#header-container{
    text-align: left;
}

/* CURSOR */
.cursor{
  position:relative;
  top: -20px;
}

.left {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        
        filter: FlipH;
        -ms-filter: "FlipH";
}
.right {
        -moz-transform: scaleX(1);
        -o-transform: scaleX(1);
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        filter: FlipH;
        -ms-filter: "FlipH";
}
#pic {transition: transform .1s}

