body {
  background-color: white;
  color: black;
  text-align: center;
  text-transform: lowercase;

}

h1{
    font: 25px arial, sans-serif;
}

footer{
    font: 15px arial, sans-serif;
    padding: 20px;
}

img{
    max-height: 250px;
}

/* LOGO */
#header-container{
    text-align: left;
}

/* Remove default bullets */
ul, #myUL {
  list-style-type: none;
}

/* Remove margins and padding from the parent ul */
#myUL {
  margin: 0;
  padding: 0;
}

/* Style the caret/arrow */
.caret {
  cursor: pointer;
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
  transform: rotate(90deg);
}

/* Hide the nested list */
.nested {
  display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
  display: block;
}